@import "../../sass/vars"

.item
  width: 318px
  margin: 6px
  background-color: $color2
  height: 500px
  float: left
  text-align: center
  padding: 5px
  .item__body
    display: none
    height: 0
  .item__readFull
    display: none
    float: right
    bottom: -200px
    right: 20px
    position: relative
  &:first-child
    .item__readFull
      bottom: -120px